<%= render 'doctors/doctor_info' %>

<div class="block w-full mb-2 px-10 py-6 pb-8 bg-white border border-gray-200 rounded-lg dark:bg-gray-800 dark:border-gray-700 text-gray-800 dark:text-white">
  <p class="text-xl font-bold mb-6">Opinie</p>
  <%= render @doctor.reviews %>
</div>